<h1>Sign in</h1>
<form action="" method="post">
	<label for="username">Login:</label><input type="text" id="username" name="username" /><br/>
	<label for="password">Password:</label><input id="password" type="password" name="password" /><br/>
	<input type="submit" value="Sign in" />
</form>